@model List<DishModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="wraper">
    <section>
        <div class="container">
            <div class="row col-md-12">
                <h2>Categories</h2>
                @*<div class="content-menu">
                    <ul class="nav nav-tabs d-flex justify-content-between" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">All</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Salads</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Soups</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Chicken-Dishes</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Beef-Dishes</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Seafood-Dishes</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Vegetable-Dishes</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">Bits&amp;Bites</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="icon">On-The-Side</span>
                            </a>
                        </li>
                    </ul>
                </div>*@
                <div>
                    <div>
                        <form method="get" action="/Home/Index">
                            <label for="category">Category:</label>
                            <select id="category" name="category">
                                <option value="">All</option>
                                <option value="Salads">Salads</option>
                                <option value="Soups">Soups</option>
                                <option value="Chicken-Dishes">Chicken-Dishes</option>
                                <option value="Beef-Dishes">Beef-Dishes</option>
                                <option value="Seafood-Dishes">Seafood-Dishes</option>
                                <option value="Vegetable-Dishes">Vegetable-Dishes</option>
                                <option value="Bits&Bites">Bits & Bites</option>
                                <option value="On The Side">On The Side</option>
                            </select>
                            <label for="spiciness">Spiciness:</label>
                            <select id="spiciness" name="spiciness">
                                <option value="">All</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <label for="containsNuts">Contains Nuts:</label>
                            <select id="containsNuts" name="containsNuts">
                                <option value="">All</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <label for="vegetarian">Vegetarian:</label>
                            <select id="vegetarian" name="vegetarian">
                                <option value="">All</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <input type="submit" value="Filter" />
                        </form>
                    </div>

                    <div class="dish-container">
                        @foreach (var dish in Model)
                        {
                            var imagePath = "~/Images/Dishes/" + (dish.ImageUrl + ".png");
                            <div class="dish-card">
                                <div class="dish-image-container">
                                    <img src="@imagePath" alt="@dish.DishName" class="dish-image w-100" asp-append-version="true"/>
                                </div>
                                <div class="dish-details">
                                    <h4>@dish.DishName</h4>
                                    <p><span>Spiciness :</span> @dish.Spiciness</p>
                                    <p><span>Contains Nuts :</span> @dish.ContainsNuts</p>
                                    <p><span>Vegetarian :</span> @dish.IsVegetarian</p>
                                    <p><span>Price:</span> $@dish.Price</p>
                                    <form class="add-to-cart-form" data-url="/Cart/Index" method="post">
                                        <input type="hidden" name="dishId" value="@dish.Id" />
                                        <button type="submit" class="btn-add-to-cart">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>