@model DishViewModel

@{
    ViewData["Title"] = "Home Page";
}


<section class="wraper">
    <div class="container">
        <div class="row col-md-12">
            <h2>Categories</h2>
            <div class="filter-container">
                <form method="get" action="/Home/Index">
                    <label for="category">Category:</label>
                    <select id="category" name="category">
                        <option value="">All</option>
                        <option value="Salads">Salads</option>
                        <option value="Soups">Soups</option>
                        <option value="Chicken-Dishes">Chicken-Dishes</option>
                        <option value="Beef-Dishes">Beef-Dishes</option>
                        <option value="Seafood-Dishes">Seafood-Dishes</option>
                        <option value="Vegetable-Dishes">Vegetable-Dishes</option>
                        <option value="Bits&Bites">Bits & Bites</option>
                        <option value="On The Side">On The Side</option>
                    </select>
                    <label for="spiciness">Spiciness:</label>
                    <select id="spiciness" name="spiciness">
                        <option value="">All</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <label for="containsNuts">Contains Nuts:</label>
                    <select id="containsNuts" name="containsNuts">
                        <option value="">All</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <label for="vegetarian">Vegetarian:</label>
                    <select id="vegetarian" name="vegetarian">
                        <option value="">All</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <input type="submit" value="Filter" />
                </form>
            </div>

            <div class="dish-container">
                @foreach (var dish in Model.Dishes)
                {
                    var imagePath = "~/Images/Dishes/" + (dish.ImageUrl + ".png");
                    <div class="dish-card">
                        <div class="dish-image-container">
                            <img src="@imagePath" alt="@dish.DishName" class="dish-image w-100" asp-append-version="true" />
                        </div>
                        <div class="dish-details">
                            <h4>@dish.DishName</h4>
                            <p><span>Spiciness :</span> @dish.Spiciness</p>
                            <p><span>Contains Nuts :</span> @dish.ContainsNuts</p>
                            <p><span>Vegetarian :</span> @dish.IsVegetarian</p>
                            <p><span>Price:</span> $@dish.Price</p>
                            <button type="button" class="btn btn-outline-primary" onclick="addToCart(@dish.Id)">Add to Cart</button>
                        </div>
                    </div>
                }
            </div>

            <div class="pagination-container">
                @if (Model.TotalPages > 1)
                {
                    <nav aria-label="Dish navigation">
                        <ul class="pagination justify-content-center">
                            @if (Model.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Home/Index?category=@Model.Category&amp;spiciness=@Model.Spiciness&amp;containsNuts=@Model.ContainsNuts&amp;vegetarian=@Model.Vegetarian&amp;page=@(Model.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="/Home/Index?category=@Model.Category&amp;spiciness=@Model.Spiciness&amp;containsNuts=@Model.ContainsNuts&amp;vegetarian=@Model.Vegetarian&amp;page=@i">@i</a>
                                </li>
                            }

                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Home/Index?category=@Model.Category&amp;spiciness=@Model.Spiciness&amp;containsNuts=@Model.ContainsNuts&amp;vegetarian=@Model.Vegetarian&amp;page=@(Model.CurrentPage + 1)">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>


<script>
    function addToCart(dishId) {
        $.ajax({
            url: '/Cart/AddToCart',
            type: 'POST',
            data: { dishId: dishId },
            success: function (response) {
                if (response.success) {
                    $('#cart-count').text(parseInt($('#cart-count').text()) + 1);
                } 
                else {
                    
                }
            },
            error: function (xhr, status, error) {
                
            }
        });
    }
</script>
